apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  template:
    metadata:
      labels:
        site: gcorp
    spec:
      containers:
        - name: backend
          image: multi/backend-actix:latest
          env:
            - name: SERVER_HOST
              value: "0.0.0.0"
            - name: SERVER_PORT
              value: "8080"
            - name: REDIS_HOST
              value: "redis"
            - name: SCYLLA_HOST
              value: "scylla"
