apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
data:
  NEXT_PUBLIC_API_BASE_URL: "http://backend:8080"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  SERVER_HOST: "0.0.0.0"
  SERVER_PORT: "8080"
  RUST_LOG: "info"
