apiVersion: apps/v1
<<<<<<< HEAD
kind: StatefulSet  # تغییر از Deployment به StatefulSet
metadata:
  name: redis
spec:
  serviceName: redis
  replicas: 1
=======
kind: StatefulSet
metadata:
  name: redis
spec:
  serviceName: redis-headless
  replicas: 3
>>>>>>> 4159b8fc2d33391900f55a186b0901ebcd940baa
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7.2-alpine
<<<<<<< HEAD
          command: ["redis-server", "/etc/redis/redis.conf"]
          volumeMounts:
            - name: redis-config
              mountPath: /etc/redis
            - name: redis-data
              mountPath: /data
          ports:
            - containerPort: 6379
      volumes:
        - name: redis-config
          configMap:
            name: redis-config
=======
          command: ["redis-server"]
          args: ["--cluster-enabled", "yes", "--cluster-config-file", "/data/nodes.conf", "--cluster-node-timeout", "5000", "--appendonly", "yes"]
          ports:
            - containerPort: 6379
              name: redis
            - containerPort: 16379
              name: cluster
          volumeMounts:
            - name: redis-data
              mountPath: /data
>>>>>>> 4159b8fc2d33391900f55a186b0901ebcd940baa
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
<<<<<<< HEAD
            storage: 1Gi
=======
            storage: 1Gi

---
apiVersion: v1
kind: Service
metadata:
  name: redis-headless
spec:
  clusterIP: None
  selector:
    app: redis
  ports:
    - port: 6379
      name: redis
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP
>>>>>>> 4159b8fc2d33391900f55a186b0901ebcd940baa
