apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: scylla
spec:
  serviceName: scylla-headless
  replicas: 3
  selector:
    matchLabels:
      app: scylla
  template:
    metadata:
      labels:
        app: scylla
    spec:
      containers:
        - name: scylla
          image: scylladb/scylla:6.3
          args: ["--seeds", "scylla-0.scylla-headless"]
          ports:
            - containerPort: 9042
            - containerPort: 7000
            - containerPort: 7001
            - containerPort: 10000
          volumeMounts:
            - name: scylla-data
              mountPath: /var/lib/scylla
  volumeClaimTemplates:
    - metadata:
        name: scylla-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi

---
apiVersion: v1
kind: Service
metadata:
  name: scylla-headless
spec:
  clusterIP: None
  selector:
    app: scylla
  ports:
    - port: 9042
      name: cql
---
apiVersion: v1
kind: Service
metadata:
  name: scylla
spec:
  selector:
    app: scylla
  ports:
    - port: 9042
      targetPort: 9042
  type: ClusterIP
