apiVersion: apps/v1
kind: Deployment
metadata:
  name: scylla-manager
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scylla-manager
  template:
    metadata:
      labels:
        app: scylla-manager
    spec:
      containers:
        - name: scylla-manager
          image: scylladb/scylla-manager:2.4.1
          ports:
            - containerPort: 5080
---
apiVersion: v1
kind: Service
metadata:
  name: scylla-manager
spec:
  selector:
    app: scylla-manager
  ports:
    - port: 5080
      targetPort: 5080
  type: ClusterIP
